<div class="">
  <h2><%= "#{@client.first_name} #{@client.last_name}" %></h2>
  <h3>Address: <%= "#{@client.street_address} #{@client.unit}" %></h3>
  <h3>Primary Phone:<%= @client.phone_one %></h3>
  <h3>Secondary Phone:<%= @client.phone_two %></h3>
  <h3>Primary Email:<%= @client.email_one %></h3>
  <h3>Secondary Email:<%= @client.email_two %></h3>
</div>