<div class="container inspection-show">
  <div class="">
    <legend><strong><%= "#{@client.first_name} #{@client.last_name}" %></strong></legend>
    <h4 class="inspection-date">Inspection #<%= "#{@inspection.id} #{@inspection.created_at.strftime('%B %d, %Y')}" %></h4>
    <label class="form-label">Front Door</label>
    <h4><%= @inspection.front_door %></h4>
    <label class="form-label">Mail</label>
    <h4><%= @inspection.mail %></h4>
    <label class="form-label">Security System</label>
    <h4><%= @inspection.security_system %></h4>
    <label class="form-label">Water Main</label>
    <h4><%= @inspection.water_main %></h4>
    <label class="form-label">Water Heater</label>
    <h4><%= @inspection.water_heater %></h4>
    <label class="form-label">Garage Access Door</label>
    <h4><%= @inspection.garage_access_door %></h4>
    <label class="form-label">Garage Overhead Door</label>
    <h4><%= @inspection.garage_overhead_door %></h4>
    <label class="form-label">Outdoor Trash</label>
    <h4><%= @inspection.outdoor_trash %></h4>
    <label class="form-label">Indoor Trash</label>
    <h4><%= @inspection.indoor_trash %></h4>
    <label class="form-label">Breaker Box</label>
    <h4><%= @inspection.breaker_box %></h4>
    <label class="form-label">Smoke Detectors</label>
    <h4><%= @inspection.smoke_detectors %></h4>
    <label class="form-label">Ceiling Fans</label>
    <h4><%= @inspection.ceiling_fans %></h4>
    <label class="form-label">Humidistat</label>
    <h4><%= @inspection.humidistat %></h4>
    <label class="form-label">Thermostat</label>
    <h4><%= @inspection.thermostat %></h4>
    <label class="form-label">Cabinets Drawers</label>
    <h4><%= @inspection.cabinets_drawers %></h4>
    <label class="form-label">Refrigerator</label>
    <h4><%= @inspection.refrigerator %></h4>
    <label class="form-label">Freezer</label>
    <h4><%= @inspection.freezer %></h4>
    <label class="form-label">Garbage Disposal</label>
    <h4><%= @inspection.garbage_disposal %></h4>
    <label class="form-label">Dishwasher</label>
    <h4><%= @inspection.dishwasher %></h4>
    <label class="form-label">Faucets</label>
    <h4><%= @inspection.faucets %></h4>
    <label class="form-label">Toilets</label>
    <h4><%= @inspection.toilets %></h4>
    <label class="form-label">Doors & Windows</label>
    <h4><%= @inspection.doors_windows %></h4>
    <label class="form-label">Ceilings & Walls</label>
    <h4><%= @inspection.ceilings_walls %></h4>
    <label class="form-label">Screen Doors</label>
    <h4><%= @inspection.screen_doors %></h4>
    <label class="form-label">Pool</label>
    <h4><%= @inspection.pool %></h4>
    <label class="form-label">Exterior</label>
    <h4><%= @inspection.exterior %></h4>
    <label class="form-label">Pests</label>
    <h4><%= @inspection.pests %></h4>
    <label class="form-label">General Cleanliness</label>
    <h4><%= @inspection.general_cleanliness %></h4>
    <label class="form-label">Carpet Cleanliness</label>
    <h4><%= @inspection.carpet_cleanliness %></h4>
    <label class="form-label">Window Cleanliness</label>
    <h4><%= @inspection.window_cleanliness %></h4>
    <label class="form-label">Patio Cleanliness</label>
    <h4><%= @inspection.patio_cleanliness %></h4>
  </div>
</div>
